---
import "../styles/main.css";
import "@fortawesome/fontawesome-svg-core/styles.css";

import _ from "lodash";
import { getCollection, type CollectionEntry } from "astro:content";
import BookCard from "../components/book-card.astro";
import { Head } from "astro-capo";
import { icon } from "@fortawesome/fontawesome-svg-core";
import { faChevronRight } from "@fortawesome/free-solid-svg-icons";

import logomark from "../images/authors-together-logomark.svg?raw";
import starIcon from "../images/olive-starburst-icon@2x.png";
import openGraphImage from "../images/authors-together-opengraph.png";

const socialImageUrl = new URL(openGraphImage.src, Astro.url);

import { getSpectrum } from "../lib/spectrum";

const books = (await getCollection("books")) as CollectionEntry<"books">[];

const sortedColors = await getSpectrum();
---

<html lang="en">
  <Head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={starIcon.src} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={Astro.url} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content="Authors Together" />
    <meta property="og:site_name" content="Authors Together" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="A directory of books by the former authors of A Book Apart"
    />
    <meta property="og:image" content={socialImageUrl} />
    <meta
      property="og:image:alt"
      content="Logo for Authors Together, a directory of books for web creators"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    />
    <title>Authors Together</title>
    <style define:vars={{ colorVars: sortedColors }}>
      header,
      footer {
        position: relative;
      }

      header:before,
      footer:after {
        position: absolute;
        inset: 0;
        content: "";
        display: block;
        height: 20px;
        width: 100%;
        background-image: linear-gradient(
          to right,
          var(--colorVars)
        ) !important;
      }

      footer:after {
        top: unset;
        bottom: 0;
      }
    </style>
    <!-- Bits&Letters Logo Component -->
    <script type="module" src="https://unpkg.com/bitsandletters-logo/dist/index.js"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="WXBPBNOP" defer
    ></script>
    <!-- / Fathom -->
  </Head>
  <body class="font-sans bg-zinc-200 text-zinc-900 antialiased">
    <header class="bg-white">
      <div class="max-w-[1800px] mx-auto px-8 lg:px-16 py-4 flex items-center">
        <h1
          class="text-2xl/none uppercase tracking-wider py-4 font-serif font-semibold mt-12">
          <span
            aria-hidden="true"
            class="block *:w-full *:h-auto max-w-sm h-auto"
            set:html={logomark}
          />
          <span class="sr-only">Authors Together</span>
        </h1>
      </div>
    </header>
    <div
      class="px-0 sm:px-8 lg:px-16 py-8 lg:py-16 grid grid-cols-1 gap-8 sm:gap-12 lg:gap-16 gap-y-24 max-w-[1800px] mx-auto">
      <div
        x-data="{ open: false }"
        class="font-serif @container">
        <h3
          @click="open = !open"
          class="font-display uppercase text-2xl/none font-semibold tracking flex items-center gap-2 border border-zinc-400 p-4 sm:rounded-lg lg:p-0 lg:border-none cursor-pointer lg:cursor-default mb-4"
          :class="open ? 'bg-zinc-50 lg:bg-transparent' : ''">
          About this site
          <span
            aria-hidden="true"
            class="transition-transform duration-300 lg:hidden"
            :class="open ? 'rotate-90' : 'rotate-0'"
            set:html={icon(faChevronRight, { classes: "text-zinc-400 fa-sm" })
              .html}
          />
        </h3>
        <div
          class="w-full grid grid-cols-1 @min-[840px]:grid-cols-2 @min-[1260px]:grid-cols-3 gap-8 lg:gap-16 *:max-w-lg"
          :class="open ? 'flex px-4 lg:px-0' : 'hidden lg:grid'">
          <p>
            In 2024, <a
              href="https://abookapart.com"
              class="underline decoration-zinc-400 underline-offset-2"
              >A Book Apart</a
            > closed its doors after publishing a much-loved collection of more than
            50 brief books for people who make websites. The rights to each book
            have reverted to the authors — hi, that's us — and we've put together
            this semi-official directory to help you find our books in their new
            homes.
          </p>
          <div>
              <p class="mb-4">
                  This directory was created by <em>Git for Humans</em> author <a href="https://demaree.me" class="underline decoration-zinc-400 underline-offset-2">David Demaree</a> and the team at <a href="https://www.bitsandletters.com/" class="underline decoration-zinc-400 underline-offset-2">Bits&Letters</a>. The source code is available on <a
              href="https://github.com/bitsandletters/authors-united"
              class="underline decoration-zinc-400 underline-offset-2">GitHub</a
            >.
          </p>
        <bnl-logo source="authors-together" variant="lockup" theme="default">
            <a href="https://www.bitsandletters.com" target="_blank" rel="noopener noreferrer">Site by Bits&Letters</a>
        </bnl-logo>
          </div>
        </div>
      </div>
      <div class="@container">
        <div
          class="grid grid-cols-1 @min-[840px]:grid-cols-2 @min-[1260px]:grid-cols-3 gap-8 lg:gap-16">
          {books.map((book) => <BookCard book={book} class="flex-1" />)}
        </div>
      </div>
    </div>
    <footer class="text-zinc-500">

    </footer>
  </body>
</html>
