---
import { twMerge } from "tailwind-merge";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import AuthorCard from "./author-card.astro";
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"div"> & {
  book: CollectionEntry<"books">;
};

const { book, class: className } = Astro.props as Props;

const {
  title,
  author: _author,
  url,
  color = "#ccc",
  collection = "books",
  ...data
} = book.data;
const author = await getEntry("authors", _author.slug);

import { icon } from "@fortawesome/fontawesome-svg-core";
import { faGlobe } from "@fortawesome/free-solid-svg-icons";

let bookNumber = Number(book.slug.split("-")[0]);
if (data.number) {
  bookNumber = data.number;
}

const numberClasses = twMerge(
  "book-number absolute top-[-1.75rem] right-4 sm:right-2 text-[2rem]/none text-white rounded-full bg-black inline-flex flex-col items-center justify-center w-[1.75em] h-[1.75em]",
  collection === "briefs" &&
    "rounded-lg text-[1.75rem]/none w-auto h-auto py-1 px-2"
);
---

<div
  class:list={twMerge("*:max-w-[350px]", className)}
  data-book={book.slug}
  data-author={author.slug}
  data-published={book.data.published.toISOString()}
  style={`--book-color: ${color}`}>
  <div class:list={numberClasses}>
    {
      collection === "briefs" && (
        <span class="text-xs uppercase font-semibold tracking-wider">
          Briefs
        </span>
      )
    }
    <span class="font-serif font-semibold tracking-tighter text-center -ml-px"
      >{bookNumber}</span
    >
  </div>
  <AuthorCard author={author} />
  <a href={url}>
    <h3
      class="[font-family:Big_Shoulders_Display] text-4xl leading-none text-balance uppercase font-semibold self-start pr-6 border-t border-b pt-2 pb-1 border-current tracking-[-0.5px] [word-spacing:-2px] mb-3">
      {title}
    </h3>
  </a>
  <div>
    {
      url && (
        <a
          href={url}
          class="text-xs/none rounded-full inline-flex items-center gap-2 px-3 font-mono text-zinc-700 bg-zinc-100 hover:bg-zinc-200 transition-colors tracking-tight pt-2 pb-2 truncate max-w-[260px]">
          <span
            class="icon"
            set:html={icon(faGlobe, { classes: "fa-sm" }).html}
          />
          <span class="truncate">{new URL(url).hostname}</span>
        </a>
      )
    }
  </div>
</div>
