---
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import AuthorCard from "./author-card.astro";

export type Props = {
  book: CollectionEntry<"books">;
};

const { book } = Astro.props as Props;

const { title, author: _author, url } = book.data;
const bookNumber = Number(book.slug.split("-")[0]);
const author = await getEntry("authors", _author.slug);
---

<div
  class="flex flex-col gap-0 bg-white p-4 pl-16 rounded-sm relative"
  data-author={author.slug}
>
  <div
    class="text-[2.25rem]/none text-white rounded-full bg-black inline-flex items-center justify-center w-[1.65em] h-[1.65em] font-serif absolute top-0 -left-4"
  >
    {bookNumber}
  </div>
  <h3
    class="[font-family:Big_Shoulders_Display] text-4xl/none text-balance uppercase font-semibold"
  >
    {title}
  </h3>
  <AuthorCard author={author} />
  {
    url && (
      <a href={url} class="text-sm text-zinc-500">
        {new URL(url).hostname}
      </a>
    )
  }
</div>
